include *.txt
include *.md
include *.py
recursive-include ./prediction_model/*

include prediction_model/datasets/*.csv
include prediction_model/models/*.pkl
include prediction_model/processing/*.py
include prediction_model/VERSION

include ./tests/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
